{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["./node_modules/ts-standard/eslintrc.json"],
  "rules": {
    "semi": "error",
    "quotes": "error",
    "comma-dangle": "error",
    "no-unused-vars": "error",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
