#root {
  scroll-behavior: smooth;
  overflow-y: scroll;
  min-height: 100dvh;
  height: 100%;
  width: 100%;
  position: relative;
}
.background {
  background-image: url('/background.webp');
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  inset: 0;
  z-index: -1;
}
::-webkit-scrollbar {
  display: none;
}
.App {
  min-height: 100dvh;
  max-width: 1500px;
  margin: auto;
  display: grid;
  padding: 2rem 0.5rem;
  grid-template-rows: auto auto 1fr;
  font-size: clamp(0.8rem, 2vw, 3rem);
  font-family: 'poppins-regular', sans-serif;
  h1 {
    text-align: center;
    padding: 2rem 0;
  }
}
